.top{
	margin-top: 50px;
}

.ot{
	width: 1200px;
}

.one{
	margin-left: 50px;
}


.proj{
	width: 300px;
	display:inline-block;
	margin-left: 20px;
}

.text{
	 text-indent:50px;
}

.rightimg  {
    float: right; 
    margin: 7px 0 7px 7px;
 }

 .leftimg {
    float:left;
    margin-right: 50px;
}

p.clip {
    height: 40px;
    width: 1150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
   }

.pr{
  margin-right: 0px;
}

/*@media (min-width: 1200px) {
  img {
    max-width: 100%;
  }

@media (min-width: 920px) {
  img {
    max-width: 64%;
  }

@media (min-width: 420px) {
  img {
    max-width: 24%;
  }
}
 Для больших устройств (ноуты, пк)
@media (min-width: 760px) {
  img {
    max-width: 48%;
  } */