.top{
	margin-top: 50px;
}

.ot{
	width: 1200px;
}



.one{
	margin-left: 50px;
}


.proj{
	width: 300px;
	display:inline-block;
	margin-left: 20px;
}

.text{
	 text-indent:50px;
}

.rightimg  {
    float: right; 
    margin: 7px 0 7px 7px;
 }

 .leftimg {
    float:left;
    margin-right: 50px;
}

p.clip {
    height: 40px;
    width: 1150px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
   }

.pr{
  margin-right: 0px;
}

.mob{
    width: 600px;
  }

@media screen and (max-width: 1200px) {
.mob {
    width: 600px;
  }  
}

@media screen and (max-width: 920px) {
.mob {
    width: 500px;
  }
}

@media screen and (max-width: 760px) {
.mob {
    width: 400px
  } 
}

@media screen and (max-width: 420px) {
.mob {
    width: 300px
  }
}

.ph{
    width: 500px;
  }

@media screen and (max-width: 1200px) {
.ph {
    width: 500px;
  }  
}

@media screen and (max-width: 920px) {
.ph {
    width: 450px;
    float:center;
  }
}

@media screen and (max-width: 760px) {
.ph {
    width: 400px;
    float:center;
  } 
}

@media screen and (max-width: 420px) {
.ph {
    width: 300px;
    float:center;
  }
}