{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- My style -->
    <link href="{% static "css/style.css" %}" media="screen" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
  </head>
  <body>
  <!--Меню-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Открыть меню</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <img src="{% static "img/1.jpg" %}" class="n1" height="50px">
                <a class="navbar-brand main text" href="{% url "home" %}" >Наш проект</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav main">
                    <li><a href="{% url "home" %}">Главная страница</a></li>
                    <li><a href="{% url "fasad" %}">Утепеление фасадов</a></li>
                    <li><a href="{% url "paginated_projects" 1 %}">Проекты</a></li>
                    <li><a href="{% url "cost" %}">Цены</a></li>
                    <li><a href="{% url "contact" %}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>