{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}
Контакты
{% endblock %}

{% block content %}


<div class="container top">
        <h1>Контакти</h1>
        <img src="{% static "img/email.jpg"%}" width="400px">

<address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>

</div>

{% endblock %}

<!-- Номер 073-402-13-42 -->
<!-- Номер 098-604-96-49 -->
<!-- Почта у меня -->

nashproekt.herikd.com

nashproekt.ua