{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}
Утепленние фасадов
{% endblock %}

{% block content %}

<div class="container top">
	<p><h1>Проектирование утепления многоэтажного жилого дома</h1><p>
	<br></br>
	<p class="text-justify">
		Самым главным аспектом в создании дизайн-проекта является общий стиль и архитектура всех зданий и строений.Недаром есть понятие – что фасад – это лицо здания, а фасад каждого строения на общей территории – это лицо и внешний вид.По мимо общего внешнего стиля, важно иметь понимание – какими фасадными материалами можно воплотить в жизнь дизайн-проект фасадов.Мы разрабатываем  под каждый объект индивидуальный дизайн-проект фасада, учитывая все пожелания Заказчика с самого начала проекта, вплоть до начала производства фасадных работ. Ведение клиента происходит в одном едином порядке :
		<ul>
			<li>разработка и проектирование дизайна фасадов (цветовые решения, спецификация декоративных фасадных элементов со всеми размерными данными и т.п.);</li>
			<li>подбор всех необходимых фасадных материалов (фасадный утеплитель, декоративная фасадная штукатурка, декоративные фасадные элементы, фасадный облицовочный камень и т.п.);</li>
			<li>сочетание всех звеньев, которые участвуют в разработке дизайн-проекта фасада – окна, двери, фасадные элементы, карнизы, т.е. формирование общей картины фасада здания.</li>
		</ul></p>
			<p class="text-center">
  	    		<img class="img-rounded" src="{% static "img/fasad.jpg" %}" width="600px" alt="">
  	    	</p>
    		<h4>Основная цель</h4>
    		<ul>
				<li>создать благородный и уютный внешний облик фасадов зданий</li>
				<li>разработать проект системы теплоизоляции фасадов мокрого типа</li>
				<li>объединить различные фасадные материалы в один проект, создавая</li> 
			</ul>
		<div class="media">
  			<a class="pull-left" href="#">
  	    		<img class="media-object" src="{% static "img/em1.jpg" %}" width="64px" alt="">
  			</a>
 		<div class="media-body">
    		<h4 class="media-heading">Проблема</h4>
    		<p>Высокие цены на электричество,отопление,газ. Что делать?</p>
    		<img class="media-object mob" src="{% static "img/fasad1.jpg" %}"  alt="">
   		</div>
   		</div>
		<div class="media">
  			<a class="pull-left" href="#">
  	    		<img class="media-object" src="{% static "img/em2.jpg" %}" width="64px" alt="">
  			</a>
 		<div class="media-body">
    		<h4 class="media-heading">Идея!!!!</h4>
    		<p>Нужно утелить снаружи квартиру,а лучше вместе с соседями весь дом, что бы создать благородный и уютный внешний облик фасада здания.</p>
    		<img class="media-object mob" src="{% static "img/fasad2.jpg" %}"  alt="">
   		</div>
   		</div>
   		<div class="media">
  			<a class="pull-left" href="#">
  	    		<img class="media-object" src="{% static "img/em3.jpg" %}" width="64px" alt="">
  			</a>
 		<div class="media-body">
    		<h4 class="media-heading">Дизайн</h4>
    		<p>Так! Нужно, что бы сделали дизайн-проект для нашего дома, и вместе с проектировщиком подобрать подходящие цвета для здания.</p>
    		<img class="media-object mob" src="{% static "img/fasad3.jpg" %}"  alt="">
    		<img class="media-object mob" src="{% static "img/fasad4.jpg" %}"  alt="">
    		<img class="media-object mob" src="{% static "img/fasad5.jpg" %}"  alt="">
   		</div>
   		</div>
   		<div class="media">
  			<a class="pull-left" href="#">
  	    		<img class="media-object" src="{% static "img/em4.jpg" %}" width="64px" alt="">
  			</a>
   		<div class="media-body">
    		<h4 class="media-heading">Результат</h4>
    		<p>Опа. И вот итоговый результат  совместной работы: заказчика, проектировщика и подрядчика.Обращайтесь к нам за созданием дизайн-проекта, конструктивным решениям для Вашего дома, котеджа.Обизательно Вам поможем. Сделаем Ваш дом теплым уютным и красивым)</p>
    		<img class="media-object mob" src="{% static "img/fasad6.jpg" %}"  alt="">
    		<img class="media-object mob" src="{% static "img/fasad7.jpg" %}"  alt="">
    		<img class="media-object mob" src="{% static "img/fasad8.jpg" %}"  alt="">
   		</div>
   		</div>
</div>
</div>



{% endblock %}