{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}
Утепленние фасадов
{% endblock %}

{% block content %}

<div class="container top">
	<h1>Проектирование утепления многоэтажного жилого дома</h1>
	<br></br>
	<p>
		Самым главным аспектом в создании дизайн-проекта является общий стиль и архитектура всех зданий и строений.Недаром есть понятие – что фасад – это лицо здания, а фасад каждого строения на общей территории – это лицо и внешний вид.По мимо общего внешнего стиля, важно иметь понимание – какими фасадными материалами можно воплотить в жизнь дизайн-проект фасадов.Мы разрабатываем  под каждый объект индивидуальный дизайн-проект фасада, учитывая все пожелания Заказчика с самого начала проекта, вплоть до начала производства фасадных работ. Ведение клиента происходит в одном едином порядке :
		<ul>
			<li>разработка и проектирование дизайна фасадов (цветовые решения, спецификация декоративных фасадных элементов со всеми размерными данными и т.п.);</li>
			<li>подбор всех необходимых фасадных материалов (фасадный утеплитель, декоративная фасадная штукатурка, декоративные фасадные элементы, фасадный облицовочный камень и т.п.);</li>
			<li>сочетание всех звеньев, которые участвуют в разработке дизайн-проекта фасада – окна, двери, фасадные элементы, карнизы, т.е. формирование общей картины фасада здания.</li>
		Основная цель
		<li>создать благородный и уютный внешний облик фасадов зданий</li>
		<li>разработать проект системы теплоизоляции фасадов мокрого типа</li>
		<li>объединить различные фасадные материалы в один проект, создавая</li> 
	</p>
</div>



{% endblock %}