{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}
Контакты
{% endblock %}

{% block content %}


<div class="container top">
        <h1>Проекты</h1>

<ul class="progg">
{% for building in buildings %}
<li class="proj">
    <div class="thumbnail">
      <img src="{{ building.photo.url }}" width="300px" alt="">
      <div class="caption">
        <h3>{{ building.title }}</h3>
        <p class="clip">{{ building.description }}</p>
        <p><a href="{% url "project" building.pk %}" class="btn btn-primary" role="button">Детальніше</a></p>
      </div>
    </div>
</li>
{% endfor %}
</ul>
<nav>
  <ul class="pager">
  {% if buildings.has_previous %}
    <li><a href="{% url "paginated_projects" buildings.previous_page_number %}">Previous</a></li>
  {% endif %}
  {% if buildings.has_next %}
    <li><a href="{% url "paginated_projects" buildings.next_page_number %}">Next</a></li>
  {% endif %}
  </ul>
</nav>
</div>


{% endblock %}