{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_title %}
Проект
{% endblock %}

{% block content %}


<div class="container top">
        <h1>Проект</h1>


{% if building %}

<div class="one">
   	  <h2>{{ building.title }}</h3>
      <img src="{{ building.photo.url }}" alt="" width="600px" class="leftimg">
      <div class="caption">
        <h3>Информация о проекте</h4>
        <p>{{ building.description|safe  }}</p>
      </div>
</div>
{% endif %}

</div>


{% endblock %}
<!---->